<footer style="background-color: var(--primary-color);" class="text-white text-center py-3 mt-5">
  <p>&copy; <%= new Date().getFullYear() %> Event Management System. All rights reserved.</p>
</footer>
