<nav class="navbar navbar-expand-lg" style="background-color: var(--primary-color);">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color: var(--secondary-color);">
      Event Management System
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNav" aria-controls="navbarNav" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <!-- Home button visible in all cases -->
        <li class="nav-item">
          <a class="nav-link" href="/" style="color: var(--text-color);">Home</a>
        </li>
        <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard" style="color: var(--text-color);">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events" style="color: var(--text-color);">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout" style="color: var(--text-color);">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login" style="color: var(--text-color);">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/register" style="color: var(--text-color);">Register</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
